.tab-list {  
  color: rgba(61, 61, 61, 0.7);
  font-size: 13px;
  padding-left: 5em;
  padding-top: 0%;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  cursor: pointer;
  margin-right: 20px;
}

.tab-list-active {
  color: #020202;
}